{% extends 'classificationDocument/base.html' %}
{% block content %}
<div class="head">Bitcoin Bandits</div>
<div class="description">Загрузите свой файл и узнайте полное описание </div>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузить</button>

</form>
{% if messages %}
		<div class="messages">
		{% for message in messages %}
			<div class="alert {{message.tags}}}">
				{{ message }}
			</div>
		{% endfor %}
		</div>
{% endif %}

{% endblock %}